nav {
    background: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(2rem) saturate(1.02);
    position: fixed;
    z-index: 4;
}

.hero-section {
    h3 {
        font-size: 25px;
        width: 45rem;
        text-align: center;
    }

    .back-b1 {
        top: 50%;
        left: 50%;
        translate: 50% -50%;
        box-shadow: 0 0 325px 94px rgba(102, 115, 83, 0.71);
        // 0 0 325px 94px #adff2fc9;
    }

    .back-b2 {
        top: 75%;
        translate: 50% 0%;
        box-shadow: 0 0 325px 94px rgba(83, 138, 0, 0.48);
        left: 25%;
    }

    .back-b3 {
        top: 50%;
        translate: 50% 0%;
        box-shadow: 0 0 325px 94px rgba(83, 138, 0, 0.48);
        left: 75%;
    }
}

.card-bg {
    background: #67676712;
    backdrop-filter: blur(1rem);
    border-color: rgba(255, 255, 255, 0.175);
    padding: 2rem;

}
